*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(217, 175, 217, 0.445) 0%, rgba(151, 218, 225, 0.473) 100%), url(../img/marcoAurelio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.header_contenedor{
    width: 95%;
    margin: auto;
    overflow: hidden;
    position: relative;
    
}

.icon_menu{
    display: inline;
    font-size: 50px;
    margin-top: 5px;
    margin-left:  85%;
    width: 40px;
    background: #fff;
    border-radius: 5px;
    margin-right: 0px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.contenedor_frase{
   
   position: relative;
   height: 500px;
   top: 300px;
   
   
}
.frase{
    padding: 10px;
    font-size: 18px;
}

.navegacion{
    position: fixed;
    margin-top: 20px;
    margin-left: 100%;
    width: 300px;
    height: 60vh;
    border-radius: 10px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    transition:ease all 0.5s;
    z-index: 9999;
}
.mostrar_menu{
    margin-left: 10% ;
}
.links{
    display: flex;
    flex-direction: column;
}
.links li{
    list-style: none;
    padding: 0;
    margin: 20px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}
.link:hover{
    color: #fff;
}

.contenedor_servicios{
    width: 80%;
    margin: auto;
}
.titulo_servicios{
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
.detalles{
    margin: 15px;
}
.detalles_titulo{
    padding:10px 0;
}
.detalles_item{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 20px;
    height: 20px;
    padding: 0 5px;
    border-radius: 50%;
    color: black;
}
.detalles_titulo{
    color: #a18cd1;
}
.detalles_texto{
    font-size: 15px;
}